{% extends 'layout.html' %}
{% block content %}
<main class="container">
    <div class="row">
        <div class="col-9 main-con">
            <div class="settings-con">
                <div class="content-section settings-email">
                    <div class="title"><legend>Change your password</legend></div>
                    <form method="POST" action="" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <div class="form-group">
                                {% if form.current_password.errors %}
                                    {{ form.current_password(class="form-control  is-invalid") }} 
                                    <div class="invalid-feedback">
                                        {% for error in form.current_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.current_password(class="form-control input-form", placeholder="Current Password") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {% if form.new_password.errors %}
                                    {{ form.new_password(class="form-control  is-invalid") }} 
                                    <div class="invalid-feedback">
                                        {% for error in form.new_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.new_password(class="form-control input-form", placeholder="New Password") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {% if form.confirm_password.errors %}
                                    {{ form.confirm_password(class="form-control is-invalid") }} 
                                    <div class="invalid-feedback">
                                        {% for error in form.confirm_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.confirm_password(class="form-control input-form", placeholder="Confirm New Password") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="row form-group">
                            <div class="col">
                                {{ form.submit(class="btn btn-outline-secondary") }}
                            </div>
                            <div class="col">
                                <input name="action" class="btn btn-outline-secondary" type="submit" value="GO BACK" onclick="history.back()"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="settings-awards">
                <div class="row">
                    <div class="col mb-2 title">
                        <span>Awards</span>
                    </div>
                </div>
                <div class="row">
                    {% if user.confirmed %}
                        <div class="col-2">
                                <img class="icon" src="/static/imgs/awards/confirmed.png">
                        </div>
                        <div class="col-8 align-self-center">
                            <span>Confirmed Email</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}