<p>Dear Metal as Medicine user,</p>
<p>It looks like the password for the account {user.username} has recently been reset.</p>
<p>If this was NOT made by you we advise to immediately <a href="{{ url_for('reset_request', _external=True) }}">reset your password</a>, log in and change the email address associated with your account.</p>
<p>This is an automated email that no one will see it. Please do not respond. If you need to contact us please see our <a href="{{ url_for('about', _external=True) }}">contact us</a> page.</p>
<p>Thank you and see you soon,</p>
<p><a href='http://www.metalasmedicine.com'>MetalasMedicine.com</a></p>