{% extends 'layout.html' %}
{% block content %}
<main class="container-fluid">
    <div class="row">
        <div class="col main-con">
            <div class="content-section login-form">
                <div>
                    <div class="page-title">
                        <span>Admin Page</span>
                    </div>
                    <div>
                        <span>add band</span>
                        <span>add venue</span>
                        <span>add festival</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}