{% extends 'layout.html' %}
{% block content %}
<main class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="row band-con">
                <div class="col">
                    <span class="title">NEWS</span>
                    {% for new in news %}
                        <div class="row news-entry">
                            <div class="news-icon">
                                <a href="{{ url_for('band_news', band=new.band.username, title_url=new.title_url) }}"><img class="img-fluid social-icon" src="{{ url_for('static', filename='uploads/news/imgs/' + new.image) }}"></a>
                            </div>
                            <div class="col news-article">
                                <div class="row news-title">
                                    <div>
                                        <a href="{{ url_for('band_news', band=new.band.username, title_url=new.title_url) }}">{{ new.title }}</a>
                                    </div>
                                </div>
                                <div class="row news-date">
                                    <div class="news-submitted">
                                        <span>Submitted by</span>
                                    </div>
                                    <div class="news-submitter">
                                        <a href="/u/{{ new.submitter.username }}">{{ new.submitter.username }}</a>
                                    </div>
                                    <div>
                                        <span>{{ new.created_on.strftime('%I:%M%p on %b %d, %Y') }}</span>
                                    </div>
                                </div>
                                <div class="row news-links">
                                    {% if new.venue_id != None %}
                                    <div>
                                        <a href="/v/{{ new.venue.username }}">{{ new.venue.name }}</a>
                                    </div>
                                    {% endif %}
                                    {% if new.festival_id != None %}
                                    <div>
                                        <a href="/f/{{ new.festival.username }}">{{ new.festival.name }}</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        

        <!-- Sidebar - Band logo and social icons -->
        <div class="col-4">
            <div class="row links-con">
                <div class="col">
                    <a href="/b/{{ band.username }}"><img class="img-fluid news-band-logo" src="{{ url_for('static', filename='uploads/bands/' + band.username + '/logo/' + band.logo) }}"></a>
                </div>
                <div class="col news-band-stats">
                    <div class="stats">
                        <span class="subtitle">Name:</span> <span>{{ band.name }}</span>
                    </div>
                    <div class="stats">
                        <span class="subtitle">Genre:</span> <span>{{ band.genre }}</span>
                    </div>
                    <div class="stats">
                        <span class="subtitle">Location:</span> <span>{{ band.city }}, {{ band.province }}</span>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</main>
{% endblock content %}