{% extends 'layout.html' %}
{% block content %}
<main class="container-fluid">
    <div class="row band-list-con">
       <div class="col">
           <div class="page-title">
               <span>List of Bands</span>
           </div>
        
    
            {% for band in bands %}
                <div class="row list-entry">
                    <div class="list-thumbnail">
                        <img class="img-fluid" src="{{ url_for('static', filename='uploads/bands/' + band.username + '/logo/' + band.logo) }}">
                    </div>
                    <div class="col list-details">
                        <div>
                            <span class="title"><a href="{{ band.username }}">{{ band.name.title() }}</a></span>
                        </div>
                        <div>
                            <span class="subtitle">Location:</span> <span>{{ band.city.title() }}</span>
                        </div>
                        <div>
                            <span class="subtitle">Genre:</span> <span>{{ band.genre.title() }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %} 
        </div>
    </div>
    
        
    
</main>
{% endblock content %}